
Lectures/.ipynb_checkpoints/

Lectures/Probabilistic/.ipynb_checkpoints/

*.ipynb
*.ipynb_checkpoints

mchlearn/__pycache__/

Assignments/Banknotes/.ipynb_checkpoints/

Lectures/NeuralNetworks/data/

.idea/
